*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: segoewcourse-descriptionbold,sans-serif,"segoe ui",arial;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    color: black;
}

.top-panel {
    height: 16vh !important;
}

.container {
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    border: 3px solid purple;
}

.left-side {
    width: 25vw;
    float: left;
}

.index-logo {
    width: 150px;
     height: 106px;
     display: inline-block;
 }

 .logo-information {
     width: 55%;
     display: inline-block;
 }

.right-side {
    width: 65vw;
    float: right;
}

.right-side li {
    list-style-type: none;
}

.dropbtn {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn::after {
    content: '\203A';  
    font-size: 1.4rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content a {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main-screen {
    height: 81vh !important;
}

.head-block {
    margin-top: 12em;
    margin-left: auto;
    margin-right: auto;
}

.head-block p::before {
    content: url(/image/Cocktail-512_white.png);
}

.head-block h1 {
    font-size: 8.2rem;
    letter-spacing: 0.065em;
    margin: 0 0 1em;
    border: 10px solid white;
    padding: 0em 0.2em;
    line-height: 0.9;
    display: inline-block;
}

.bottom-block {
    font-size: 0.9rem;
    letter-spacing: 0.1em;
    border: 1px solid rgba(255,255,255,0.2);
    display: inline-block;
    padding: 0.5em 1em;
}

.button {
    color: white;
}

.button:after {
    content: ' \203A';  
    font-size: 1.4rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.19em;
    text-align: right;
    color: #191919;
    margin: 2.2rem 1rem;
    display: block;
    cursor: pointer;
}

h3::before {
    content: url(/image/Cocktail-512.png);
}

.lightbox {
    position: relative;
    width: 100%;
    height: 70vh;
}

.row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 25%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  img {
    margin-bottom: -4px;
  }
  
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }

.slider {
    position: relative;
    width: 72vw;
    height: 70vh;
    margin: 0 auto;
    
}

.slider input[type=radio] {
    position: absolute;
    opacity: 0;
}

.slider-controls {
    position: absolute;
    bottom: 2em;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    height: 10px;
    text-align: center;
    z-index: 999;
}

.slider-controls label {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 3px;
    background: white;
    border: 3px solid black;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"],
#btn-4:checked ~ .slider-controls label[for="btn-4"] {
    background: #c1c1c1;
}


.slides {
    position: relative;
}

.slide {
    
    width: 100%;
    height: 100%;
    padding: 1rem;
    overflow: hidden;
}

.slide {
    display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}

#btn-4:checked ~ .slides .slide:nth-child(4) {
    display: block;
}

.teacher-photo {
    display: inline-block;
    width: 30%;
}

.teacher-information {
    display: inline-block;
    width: 65%;
    vertical-align: top;
}

.teacher-name {
    font-size: 2.2rem;
    line-height: 1.1;
    letter-spacing: 0.025em;
    text-align: left;
}

.teacher-description, .about-information p, .course-description p, .course-information {
    font-size: 1rem;
    line-height: 1.4em;
    text-align: left;
    text-transform: initial;
    letter-spacing: initial;
    color: #afafaf;
}

.footer {
    height: 50vh !important;
}

.top {
    padding: 0 4.5rem;
    margin-top: 3rem;
}

footer .top p {
    font-size: 1.1rem;
    text-align: right;
    color: #4d4d4d;
    letter-spacing: 0.025em;
}

footer .middle {
    padding: 2rem;
}

.logo-container {
    display: inline-block;
    width: 40%;
}

.social {
    display: inline-block;
    width: 40%;
    text-align: right;
}

.social p, .copyright p {
    font-size: 0.95rem;
    color: #5d5d5d;
    letter-spacing: 0.025em;
    text-transform: initial;
    
}

.copyright {
    border-top: 1px solid rgba(0,0,0,0.1);
    padding: 1.5rem;
}


@media screen and (min-width: 320px) and (max-width: 767px) {
    body {
        font-size: 0.95rem;
    }

    .container {
        margin: 0;
        padding: 0;
        height: 90vh;
    }

    .top-panel {
        position: fixed;
        height: 13vh !important;
        background: white;
        z-index: 1000;
    }

    .main-screen {
        height: 98vh !important;
        background-image: url(/image/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }

    .index-logo {
        display: none;
    }

    h2 {
        display: none;
    }

    .logo-information p {
        font-size: 0.8rem;
    }

    .right-side {
        text-align: right;
    }

    ul {
        padding: 0;
    }

    .dropdown {
        position: relative;
        display: block;
    }

    .mobile-dropbtn::after {
        content: '\2630';  
        font-size: 1.7rem;
    }

    .mobile-dropdown-content {
        width: 100vw;
        text-align: center;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
        z-index: 1;
        
    }

    .mobile-dropdown-content a {
        width: 100%;
        font-size: 0.875em;
        padding: 5px 10px;
        display: block;
        text-transform: initial;
        
    }

    .mobile-dropdown-content a:hover {background-color: #f1f1f1}

    .mobile-dropbtn:hover .mobile-dropdown-content {
        display: block;
    }

    .dropdown-content {
        background-color: white;
        z-index: 2;
        border: 1px solid black;
        right: 0;
        text-align: right;
    }

    .dropdown-content a:hover {background-color: #f1f1f1}

    .head-block h1 {
        font-size: 3.2rem;
        border: 7px solid white;
    }

    .bottom-block {
        padding: 0.5em;
        font-size: 0.8rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .course-program {
        background-image: url(/image/564342.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
    }

    .main-program h4:hover {
        font-size: 1.1rem;
    }

    .works-head p {
        display: none;
    }

    .column {
        float: none;
        width: 100%;
        display: block;
      }

      .hide-for-mobile {
          display:none;
      }

    .course-teachers {
        height: 158vh;
    }

    .slider {
        width: 92vw;
        height: 140vh;
    }

    .slide {
        padding: 0;
    }

    .teacher-photo {
        display: block;
        width: auto;
    }
    
    .teacher-information {
        display: block;
        width: auto;
    }
    
    .teacher-name {
        font-size: 1.8rem;
        text-align: center;
    }
    
    .teacher-description {
        text-align: center;
    }

    .teacher-photo img {
        width: 85%;
        margin: 0 auto;
    }

    .footer {
        height: 91vh !important;
    }

    footer .top p, .top{
        display: none;
    }

    .logo-container img {
        width: 50%;
    }
    
    footer .middle {
        padding: 0;
    }
    
    .logo-container {
        display: block;
        margin-top: 2rem;
        width: auto;
    }
    
    .social {
        display: block;
        width: auto;
        text-align: center;
    }
    
    .copyright {
        padding: 0;
    }

    .sprite {
        width: 74px;
        height: 74px;
        margin: 0 auto;
        background: url(/image/social_small.png);
    }

    .social-panel div {
        display: inline-block;
        width: 74px;
        height: 74px;
        background: url(/image/social_small.png);
    }

    .social-panel :nth-child(1) {
        background-position: -116px -20px;
    }

    .social-panel :nth-child(2) {
        background-position: -400px -20px;
    }

    .social-panel :nth-child(3) {
        background-position: -21px -20px;
    }

    .facebook {
        background-position: -116px -20px;
    }

    .facebook:hover {
        background-position: -116px -100px;
    }

    .instagram {
        background-position: -400px -20px;
    }

    .instagram:hover {
        background-position: -400px -100px;
    }

    .twitter {
        background-position: -21px -20px;
    }

    .twitter:hover {
        background-position: -21px -100px;
    }

    .main-content {
        height: auto;
    }

    .social-panel {
        margin-top: 6rem;
        margin-bottom: 9rem;
    }

    .curator-info .avatar {
        display: inline-block;
        width: 120px;
        height: 120px;
        border: 1px solid transparent;
        border-radius: 50%;
        background-image: url(/image/110134-1.jpg);
        background-position: -200px 2px;
    }

    .curator-info .info {
        display: inline-block;
        vertical-align: top;
    }

    .curator-name, .teachers-top-block h4, .students-works-top-block h4, .course-program-top-block h4, .payment-top-block h4 {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 520;
        margin: 1rem auto;
    }
    
    .curator-subname {
        font-size: 1rem;
        letter-spacing: 0.05em;
        color: #c6c6c6;
        margin: 0;
        font-weight: 540;
    }

    .tel-info {
        font-size: 1.6rem;
        color: #191919;
        letter-spacing: 0.08em;
    }

    .contact-link {
        margin-top: 4rem;
        padding: 2rem;
    }

    .contact-link ul {
        list-style-type: none;
    }

    .icon {
        width: 35px;
        height: 35px;
        background-repeat: no-repeat;
        display: inline-block;
        vertical-align: middle;
    }
    
    .skype {
        background-image: url(/image/skype.png);
    }

    .telegram {
        background-image: url(/image/telegram.png);
        
    }

    .social-name, .social-value {
        font-size: 1rem;
        letter-spacing: 0.01rem;
        text-transform: initial;
        color: #191919;
    }

    .social-value {
        font-weight: 600;
    }

    .contact-form {
        margin-top: 4rem;
        padding: 40px 35px;
        background-color: #efefef;
    }

    .form-caption h6, .about-head h6, .features h6 {
        font-size: 0.9rem;
        letter-spacing: 0.025em;
    }

    .registration-form {
        padding: 50px 40px;
        text-align: left;
        margin-bottom: 45px;
        background-color: white;
        position: relative;
    }

    input {
        border: none;
    }

    input:hover {
        cursor: pointer;
    }

    input[type="text"], input[type="email"], input[type="tel"], .registration-form select {
        width: 100%;
        font-size: 0.9rem;
        background-color: #f7f7f7;
        padding: 17px 25px;
        color: #8f8f8f;
        margin-bottom: 20px;
    }

    .registration-form select, input[type="button"] {
        color: black;
        margin-bottom: 40px;
    }

    input[type="button"] {
        width: 100%;
        height: 75px;
        background-color: #ffed2a;
        font-size: 0.9rem;
        letter-spacing: 0.025em;
        text-align: center;
        vertical-align: middle;
        position: absolute;
        bottom: -80px;
        left: 0;
    }

    .about {
        padding-left: 2rem; 
        padding-right: 2rem;
        height: auto;
        background-image: url(/image/cocktail_bora_bora-1.png);
        background-size: cover;
        background-position: -114vw;
    }

    .about-head {
        margin-top: 6rem;
    }

    .features ul {
        list-style-image: url(/image/Dragon_Eye_small.png);
        list-style-position: inside;
        
    }

    .features ul li {
        font-size: 0.9rem;
        letter-spacing: 0.025em;
        color: black;
        text-transform: initial;
        text-align: left;
       
    }

    .teachers-header, .students-works, .course-program-header, .payment-header {
        height: auto!important;
        padding-left: 2rem;
        padding-right: 2rem;
        position: relative;
        background-image: url(/image/apple-martini_small.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -6vw 2vh;
    }

    .teachers-top-block {
        margin-top: 5.6rem;
    }

    .divider {
        background-color: #f45222;
        height: 4px;
        width: 80px;
        display: inline-block;
        margin: 34px 0;
    }

    .course-program-top-block .divider {
        margin-bottom: 0;
    }

    .subheader {
        font-size: 1.05rem;
        font-weight: 550;
        margin-top: 5rem;
        margin-bottom: 6rem;
        text-transform: initial;
        letter-spacing: 0.02rem;
    }

    .students-works-top-block {
        margin-top: 6rem;
        margin-bottom: 11.1rem;
    }

    .course-program-top-block {
       margin-top: 5rem;
    }

    .program-description {
        height: auto;
    }

    .course-name, .price {
        font-size: 1.5rem;
        letter-spacing: 0.025em;
        font-weight: bold;
    }

    .course-description {
        padding: 20px;
        margin: 20px;
        border: 1px solid rgba(0,0,0,0.06);
        text-align: left;
    }

    .payment-top-block {
        margin-top: 5rem;
    }

    .payment-header .subheader {
        margin-bottom: 11rem;
    }

    .price-info {
        padding: 20px;
        height: auto;
    }

    .course-name {
        margin: 2rem;
    }

    .course-information {
        text-align: center;
        margin-bottom: 4rem;
        
    }

    .price-overview {
        margin: 5.3rem auto;
    }
} 




@media screen and (min-width: 768px) and (max-width: 1439px) {
    body {
        font-size: 0.95rem;
    }

    .head-block h1 {
        font-size: 5.2rem;
    }
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
    body {
        font-size: 0.95rem;
    }

    .head-block h1 {
        font-size: 7.2rem;
    }
}